### VS CODE
.vscode

### ECLIPSE ? ###
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

###pycache
**/__pycache__/**

###Ignore dataset
**/train/**
**/test_set**
**/valid_set/**
**/static/default_datas/test/**
**/static/default_datas/train/**
**/static/default_datas/valid/**
