.index-page {
    overflow: hidden;
    background-color:#222;
    margin: 0px;
}

.index-page .block-text {
    position: relative;
    background-color: #222;
    margin-left: 90px;
    /*width: 100%;*/
    height: 100vh;
}


.block-text {
    top: 0px;
    position: relative;
    background-color: #222;
    /*margin-left: 90px;*/
    margin-left: 82px;
    /*width: 100%;*/
    /*height: 100vh;*/
}

.cache-text {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, #222 20%, rgba(20, 20, 20, 0) 100%);
}

h1 {
    font-size: 100px;
    font-family: "StarWars font";
    color: #111;
    text-shadow: -4px -4px 0 #ffd54e, -4px -2px 0 #ffd54e, -4px 0 0 #ffd54e, -4px 2px 0 #ffd54e, -4px 4px 0 #ffd54e, -2px -4px 0 #ffd54e, -2px -2px 0 #ffd54e, -2px 0 0 #ffd54e, -4px 4px 0 #ffd54e, -2px 4px 0 #ffd54e, 0 -4px 0 #ffd54e, 0 -2px 0 #ffd54e, 0 0 0 #ffd54e, 0 2px 0 #ffd54e, 0 4px 0 #ffd54e, 2px -4px 0 #ffd54e, 2px -2px 0 #ffd54e, 2px 0 0 #ffd54e, 2px 4px 0 #ffd54e, 2px 4px 0 #ffd54e, 4px -4px 0 #ffd54e, 4px -2px 0 #ffd54e, 4px 0 0 #ffd54e, 4px 2px 0 #ffd54e, 4px 4px 0 #ffd54e;
    align-content: center;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

@font-face {
	  font-family: "StarWars font";
	  src: url('Starjedi.ttf');
}

.wrapper-text {
    z-index: 2;
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 650px;
}

.scroll-text {
    z-index: 0;
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 60s linear infinite;
}

.scroll-text h1, .scroll-text h2 {
    text-align: center;
}

@keyframes scroll {
    from { top: 830px; transform: translateZ(-150px) rotateX(19deg)}
    to { top: -8330px; transform: translateZ(-2500px) rotateX(19.2deg)}

}



/* New Stacking Context with Fixed */
.side-nav {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgb(30, 30, 30);
}
  
/* To hide the sub-nav */
.wrapper-nav {
    height: 50px;
    width: 90px;
    border-right: 3px solid white;
}
  
.wrapper-nav img {
    border-radius: 20px;
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.wrapper-nav img:hover {
    background-color: #C0FFBD;
    box-shadow: 0px 0px 10px 5px #6fff68;
    transition:  0.3s ease-in-out ;
    cursor: pointer;
}
  
  
.nav-bloc {
    padding: 10px 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: rgb(30, 30, 30);
    border-bottom: 1px solid #f2f2f21e;
}
  
.nav-bloc svg {
    width: 25px;
    fill: #f2f2f2;
    transition:  0.2s ease-in-out ;
}
  
.nav-bloc:hover .sub-nav {
    transform: translateY(0px);
}
  
.sub-nav {
    width: 90px;
    height: 100vh;
    position: absolute;
    top: 90;
    left: 0;
    background: rgb(50, 50, 50);
    z-index: -1;
    color: white;
    /* Hidden at the left side */
    transform: translateY(-120%);
    transition: transform 0.5s ease-in-out;
}
  
  
.sub-nav-block {
    padding-left: 27px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f21e;
}
  
.sub-nav-block:hover svg {
    fill: #ffc909;
}
  
.n-1 svg, .n-2 svg{
    width: 30px;
}