<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="block-text">
  {% if original_path %}
  <img src="{{ original_path }}" alt="Can't load picture" width="30%" style="margin-left: 10%; margin-right: 10%;">

{% endif %}
  {% if path %}
              <img src="{{ path }}" alt="Can't load picture"width="30%">
  {% endif %}
          </br>
  {% if skeleton_data %}
  <div><h3 class="star">Skeleton : </h3><p style="color:greenyellow;">A skeleton has been succesfully generated</p></div>

  <form method="post" name="saveform" action="{{ url_for('save_sign') }}"></form>
   Enter groupname : <input type="text" name="groupname"/>
  <input type="submit" value="Save in DB">
  </form>

  {% else %}
    <h3 class="star">Skeleton : </h3> <p style="color:red;">No skeleton has been generated</p>
  {% endif %}
</br>


<a href="{{url_for('streaming')}}" > Discard and go back to camera </a>
</div>
</body>

</html>

