<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <title>Project JediHand Add Sign</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="block-text">
        <h1>Add a sign</h1>
        {% if original_path %}
            <img src="{{ original_path }}" alt="Can't load picture" width="30%" style="margin-left: 15%; margin-right: 10%;">
        {% endif %}

        {% if path %}
            <img src="{{ path }}" alt="Can't load picture"width="30%">
        {% endif %}

        <div class="block-form">
            {% if skeleton_data %}
                <p style="color:greenyellow;">A skeleton has been succesfully generated</p>
                <p>Enter the sign name :</p>
                <form method="post" action="{{ url_for('save_sign') }}">
                    <input type="text" name="groupname" required class="textBox"/>
                    <input type="submit" value="Save in DB" class="saveSign">
                </form>

            {% else %}
                <p style="color: #FE6240;">No skeleton has been generated :c</p>
            {% endif %}

            <a href="{{url_for('streaming')}}" class="saveConfig">Discard and go back to camera </a>
        </div>
    </div>
</body>

</html>