<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang="en">
  <head>
    <meta charset="utf-8" />>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Déclaration de la variable globale afin d'affecter une commande à une figure-->
    <script> 
      var affectedCommands = [];//Contain currently affected commands
      var possibleCommands = [];//Contain possible commands (From a Json Config files)
      var IdsArray = [];//Contain DB Ids of the current displayed elements
    </script>

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">

    <!-- Demo styles -->
    <style>
      
    </style>
  </head>

  <body>
    <!-- Swiper -->
    <section>
      <h1>Jedi Hand</h1>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper" id='wrapper'>
            {% for x in datas %}
            <div class="swiper-slide" id="{{ x.id }}" data="{{ x.command }}">
              <li id ="groupanme{{ x.groupname }}">{{x.groupname}}</li>
              <img src= "{{ x.picpath }}" alt="Can't load picture" style="width:300px;height:300px;">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <form method="post">
      <div class="inputInvisible">
        <input type="text" name="possibleCommands" class="possibleCommandsInput">
        <input type="text" name="IdsArray" class="IdsArrayInput"> 
        <input type="text" name="affectedCommands" class="affectedCommandsInput"> 
      </div>

      <a class="star" href="{{ url_for('streaming') }}">Camera streaming</a>
    
    </form>

    <div class="displayCommand"></div>
    <div class="dropdown-class">
      <div class="dropdown">
        <input type="text" class="textBox" placeholder="Dropdown Menu" readonly>
        <div class="option"></div>
      </div>
    </div>
    
    <button type="submit" class="saveConfig">Sauvegarder</button>


    <!-- Swiper JS  -->
    <script src='static/js/source.js' async></script>
    <script src='static/js/config.json' async></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    

    <!-- Initialize Swiper -->
    <script>

      let saveConfigButton = document.querySelector('.saveConfig');
      saveConfigButton.onclick = function() {
        let inputPossibleCommand = document.querySelector('.possibleCommandsInput');
        inputPossibleCommand.value = JSON.stringify(possibleCommands);

        let inputAffectation = document.querySelector('.affectedCommandsInput');
        inputAffectation.value = JSON.stringify(affectedCommands);

        let inputPossibleFigure = document.querySelector('.IdsArrayInput');
        inputPossibleFigure.value = JSON.stringify(possibleFigures);
      }   

      var currentIndex = 0;

      let textBox = document.querySelector('.textBox');
      let display = document.querySelector('.displayCommand');
      if (affectedCommands[currentIndex] != undefined){
        display.innerHTML = affectedCommands[currentIndex];
      }
      else {
        display.innerHTML = "None affected";
      }
      

      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 30, //A quelle point les autres sont retirés
          depth: 200, //Profondeur des autres slides
          modifier: 2, //Multiplicateur ??
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        }, //When swipe
        on: {
          slideChange: function () {
            const index_currentSlide = swiper.activeIndex;
            textBox.value = "";
            currentIndex = index_currentSlide;
            
            console.log(affectedCommands[index_currentSlide]);
            display.innerHTML = affectedCommands[currentIndex];
          },
        },
      });

      //Open Dropdown
      let dropdown = document.querySelector('.dropdown');
      dropdown.onclick = function() {
        dropdown.classList.toggle('active');
      }
      
    </script>

  </body>
</html>
