<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Project JediHand Index</title>
</head>

<body class="index-page">
    {% include 'navbar.html' %}
    
    <div class="block-text">
        <div class="cache-text"></div>
        <div class="wrapper-text">
            <div class="scroll-text">
                <h1>JEDi HAND</h1>
                <h2>Description</h2>
                <p>Application JediHand réalisée par Quentin Colras et Xavier Fostier, projet Semestre 10 Master 2 TNSID UPHF Valenciennes</p>
                <p>Cette application permet d'exécuter des actions sur la machine hôte en effectuant des gestes de la main comme par exemple : monter/diminuer le volume système, lancer un lien web ou une application/script, arrêter/relancer une vidéo Youtube etc...</p>
                <p>Le menu sur la gauche permet d'accèder aux différents modules de l'application : le rouage permet d'affecter une commande à un signe de la main, la caméra permet d'avoir un retour vidéo lors de la detection des signes et permet de prendre un nouveau signe en photo, l'icone d'image permet l'affichage de tout les signes et leurs commandes associées, enfin vous pouvez également vous rendre sur le Github du projet pour y inspecter/télécharger le code source.</p>
            </div>
        </div>
    </div>
</body>
</html>