<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">

</head>


<body>
  {% include 'navbar.html' %}
  {% for x in datas %}
  <a>
    <li>{{ x.groupname }}</li>
    <img src= "{{ x.picpath }}" alt="Can't load picture" style="width:150px;height:150px;">
    <div class="displayCommand"></div>
    <div class="dropdown-class">
      <div class="dropdown">
        <input type="text" class="textBox" placeholder="Dropdown Menu" readonly>
        <div class="option"></div>
      </div>
    </div>
    </a>
  {% endfor %}

<style type="text/css">
  a {
  border: 1px black solid;
  display: inline-block;
  margin-left: 20px;
  margin-right: 80px;
  }
</style>

</body>

</html>