<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="block-text">
    <h2 class="h2star">List of signs</h2>
  {% for x in datas %}
  <a class="blo">
    <li class="star">{{ x.groupname }}</li>
    <img src= "{{ x.picpath }}" alt="Can't load picture" style="width:200px;height:200px;">
  </a>
  {% endfor %}
</div>

<style type="text/css">
  .blo {
  flex-direction: column;
  border: 1px black solid;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  }
</style>

</body>

</html>